@model Instrumentation.WebApp.Models.ViewQueryAuditLogByApplicationName
@{
    Model.ViewQueryCommon.ViewTitle = "Application Names";
}

<div>
    
    @Html.Action("Header", "Home", Model.ViewQueryCommon)

    @using (@Html.BeginForm())
    {
        <div style="padding: 5px; border: solid thin black">


        </div>
    }
</div>
        
