@model Instrumentation.WebApp.Models.ViewQueryAuditLog
@{
    Model.ViewQueryCommon.ViewTitle = "Instrumentation Viewer";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model.ViewQueryCommon)

    @using (@Html.BeginForm())
    {
        <div>
            <table>
                <tr>
                    <th class="TextLabelLeft">AuditLog</th><th></th>
                </tr>
                <tr>
                    <td style="border: none">
                        <input type="submit" name="Command" value="Refresh"/>
                    </td>
                </tr>
            </table>
        </div>
        
        
        @Html.Action("AuditLogGrid", Model.List)

    }
</div>