@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>AuditDb</title>
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <td>Audit data</td>
                </tr>
            </table>
        </div>
    </body>
</html>