@model Instrumentation.WebApp.Models.ViewQueryBase
@{
    Model.ViewTitle = "Home";
}

<div class="PageRoot">
    
    @Html.Action("Header", "Home", Model)

    <div>
        <table>
            <tr>
                <th class="TextLabelLeft">AuditDb</th>
            </tr>
        </table>
    </div>

    <div>
        <table class="alternate_color">
            <tr>
                <td>1</td>
                <td>text1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>text2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>text3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>text4</td>
            </tr>
        </table>
    </div>

</div>