@model Instrumentation.WebApp.Models.ViewQueryBase
@{
    Layout = null;
}

<div class="PageSection">
    <table class="alternate_color">
        <tr>
            <th>CategoryNames</th>
            <th>Count</th>
        </tr>
        @foreach (var category in Model.Categories)
        {
            <tr>
                @if (string.IsNullOrEmpty(category.Name)) { <td></td> }
                else {
                    <td>@Html.ActionLink(category.Name, "AuditLogByCategory", "AuditDb", new { id = category.Name, dbkey = Model.DbKey }, null)</td>
                }
                <td>
                    @category.Count
                </td>
            </tr>
        }
        <tr>
            <td>total</td>
            <td>@Model.Categories.Sum(an => an.Count)</td>
        </tr>
    </table>
</div>
