@model Instrumentation.WebApp.Models.ViewQueryBase
@{
    Layout = null;
}

<div class="PageSection">
    <table class="alternate_color">
        <tr>
            <th>FeatureName</th>
            <th>Count</th>
        </tr>
        @foreach (var featureName in Model.FeatureNames)
        {
            <tr>
                @if (string.IsNullOrEmpty(featureName.Name)) { <td></td> }
                else {
                    <td>@Html.ActionLink(featureName.Name, "AuditLogByFeatureName", "AuditDb", new { name = HttpUtility.UrlEncode(featureName.Name), dbkey = Model.DbKey }, null)</td>
                }
                <td>
                    @featureName.Count
                </td>
            </tr>
        }
        <tr>
            <td>total</td>
            <td>@Model.FeatureNames.Sum(an => an.Count)</td>
        </tr>
    </table>
</div>

