@model Instrumentation.WebApp.Models.AuditLogViewModel
@{
    Model.ViewTitle = "Home";
}

<div class="PageRoot">
    
    @Html.Action("Header", Model)

    <div>
        <table class="alternate_color">
            <tr>
                <td>CurrentServerTime: @Model.CurrentServerTime</td>
            </tr>
            <tr>
                <td>version: @Model.ReleaseVersion</td>
            </tr>
        </table>
    </div>    

</div>