@model Instrumentation.WebApp.Models.ViewQueryBase
@using Instrumentation.WebApp.Helpers
@{
    Model.ViewQueryCommon.ViewTitle = "Instrumentation Viewer";
}

<div>
    
    @Html.Action("Header", Model.ViewQueryCommon)

    <div>
        <table class="alternate_color">
            <tr>
                <td>version: @Model.ReleaseVersion</td>
            </tr>
        </table>
    </div>    

</div>