
@{
    ViewBag.Title = "Index";
}

<h2>InstrumentationSvc Ajax Test Page</h2>

<div>
    <table>
        <tr>
            <td>Host</td>
            <td>
                <select id="hostSelect">
                    <option value="localhost">localhost</option>
                    <option value="54.191.98.71">54.191.98.71</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Port</td>
            <td>
                <input id="instrumentationSvcPort" value="9000" />
            </td>
        </tr>
        <tr>
            <td>Url</td>
            <td>
                <input id="url" size="50" />
            </td>
        </tr>
        <tr>
            <td>Message</td>
            <td>
                <input id="messageText" value="someMessage"/>
            </td>
        </tr>
        <tr>
            <td>AjaxData</td>
            <td>
                <div id="ajaxData"></div>
            </td>
        </tr>
    </table>
    
    <table>
        <tr>
            <td colspan="2">
                <input type="button" value="Test Instrumentation Service" onclick="TestInstrumentationService();" />
            </td>
        </tr>
        <tr>
            <td>instrumentationServiceUrl</td>
            <td><div id="instrumentationServiceUrl"></div></td>
        </tr>
        <tr>
            <td>pageStatus</td>
            <td><div id="pageStatus"></div></td>
        </tr>
        <tr>
            <td>ajaxResponseData</td>
            <td><div id="ajaxResponseData"></div></td>
        </tr>
        <tr>
            <td>ajaxResponseErr</td>
            <td><div id="ajaxResponseErr"></div></td>
        </tr>
        <tr>
            <td>ajaxStatus</td>
            <td><div id="ajaxStatus"></div></td>
        </tr>
        <tr>
            <td>ajaxStatusText</td>
            <td><div id="ajaxStatusText"></div></td>
        </tr>
    </table>

        <table>
            <tr>
                <td>QueryStr</td>
                <td>
                    <input id="queryString" value="?EventId=ei&ApplicationName=an&FeatureName=fn&Category=cc&Messages=mm&TraceLevel=info&AdditionalInfo=aass&AuditedOn=1/1/2001" />
                </td>
            </tr>
            <tr>
                <td>BrowserUrl</td>
                <td>
                    <input id="browserUrl" value="" class="TextInputWide" />
                </td>
            </tr>
        </table>
    
    <div>
        <div id="debug"></div>
    </div>

</div>


@section scripts {
    <script>

        function TestInstrumentationService() {

            $('#pageStatus').text('POST.....');

            $('#ajaxResponseData').text('');
            $('#ajaxStatus').text('');
            $('#ajaxStatusText').text('');
            $('#ajaxResponseErr').text('');


            // collect request data
            var hostSelect = $("#hostSelect option:selected").text();
            var port = $("#instrumentationSvcPort").val();
            var url = 'http://' + hostSelect + ':' + port + '/api/logs';
            var queryStr = $("#queryString").val();

            // echo to UI
            $('#instrumentationServiceUrl').text(url);
            $('#url').val(url);
            $('#browserUrl').val(url + queryStr);

            // build Instrumentation Service request
            var ajaxData = {
                EventId: "anEventId",
                ApplicationName: "InstSvcAjaxTestPage",
                FeatureName: "Ajax POST test",
                Category: "Audit",
                Messages: $("#messageText").val(),
                TraceLevel: "info",
                AdditionalInfo: url,
                MessageCode: "from InstrumentationSvcWeb",
                LoginName: "someLoginName",
                AuditedOn: "1/1/1905"
            };
            $('#ajaxData').text(JSON.stringify(ajaxData));

            // call Instrumentation Service
            $.ajax(
                {
                    //url: 'http://54.191.98.71:9000/api/logs',
                    //url: 'http://localhost:9000/api/logs',
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    data: ajaxData,
                    crossDomain: true,
                    dataType: 'jsonp',

                    success: function(data) {
                        $('#pageStatus').text('success.....');

                        $('#ajaxResponseData').text(data);
                    },

                    error: function (jqXHR, textStatus, err) {
                        $('#pageStatus').text('error.....');

                        $('#ajaxResponseErr').text(err);
                        $('#ajaxStatus').text(jqXHR.status);
                        $('#ajaxStatusText').text(jqXHR.statusText);
                    },
                }
            );
        }

    </script>
    }

