<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="PostgreSql Client Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSql" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.14.3, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="RisingTide" providerName="postgres" connectionString="server=127.0.0.1;port=5432;database=RisingTide;user id=postgres;password=Aditi01*;enlist=true;pooling=false;minpoolsize=1;maxpoolsize=100;timeout=150;" />
    <add name="rtAudit" providerName="postgres" connectionString="server=127.0.0.1;port=5432;database=Audit;user id=postgres;password=Aditi01*;enlist=true;pooling=false;minpoolsize=1;maxpoolsize=100;timeout=50;" />
  </connectionStrings>

  <appSettings>
    <add key="DbKeyDefault" value="rtAudit"/>
    <add key="MaxRowCountDefault" value="100"/>
  </appSettings>
</configuration>