body {
    line-height: 1;
}

.BodyRoot {
    font-size: x-small;
}

.BodyRoot h2 {
    margin: 0;
    padding: 0;
}

.PageSectionWithBorder {
    float: left;
    padding: 5px;
    border: solid thin black;
}

.PageSection {
    float: left;
    padding: 5px;
}

.TableSection {
    border:hidden;
}

.TdSection {
}

table th, td.TdSection{
    border: 0 none;
    padding: 0.15em 0.5em 0.25em 0.4em;
}

.PageRoot {
    padding: 5px;
}

.TextInputSmall input {
    text-align:left;
    float: left;
    width: 90px;
}

.TextInputDate input {
    text-align:left;
    float: left;
    width: 150px;
}

.TextLabelLeft {
    text-align: left;
}

.PreserveFormat {
    white-space: pre;
}

.ErrorTitle {
    font-weight: bolder;
    font-size:15px;
    color: red;
}

table.alternate_color {
    /*border-collapse: collapse;*/
}
table.alternate_color tr{
    border: 2px solid brown;
}
table.alternate_color th, td{
    border: 1px solid black;
    padding: 0.15em 0.5em 0.25em 0.4em;
}
table.alternate_color tr:nth-child(odd) td{
   background-color:#d6d6d6;
}
table.alternate_color tr:nth-child(even) td{
   background-color:#fff;
}
table.alternate_color td{
   /*width: 20px;*/
   /*max-width: 200px;*/
}
table.alternate_color td.eventId{
    white-space: nowrap;
    border: 0 none;
}
table.alternate_color td.messagePreview{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0 none;
}

